<h1> Login or signup as new user</h1>

<form method="POST" action="/login">
    <label for="email">Email:</label>
    <input type="text" name="email" id="LI_email"/>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="LI_password">
    <br>
    <input type="submit" value="Log In" />
    <a href='/sign_up'>New user? Sign up</a>
    </form>



