<h2> Are you sure you want to delete this recipe?</h2>
<form method="POST" action="recipes/<%=@recipe.id%>">
<input type="hidden" name="_method" value="DELETE"  />
<input type="submit" value="Yes" />
</form>

<form method="POST" action="recipes/<%=@recipe.id%>">
<input type="submit" value="No" />
</form>