<h1> Create a new recipe </h1>

<form method='POST' action='/recipes'>
<input type="text" name="title" id="recipe_title">
<form method='POST' action='/recipes'>
<input type="textarea" name="content" id="recipe_content">

<input type="submit" value="Create Recipe">
</form>

