<h4>Logged in as <%=current_user.email%></h4>
<a href="/login">Not you?</a>
<form method="POST" action='/logout'>
<input type="submit" value="Log Out">
</form>

<% @recipes.each do |recipe| %>
<a href="/recipes/<%=recipe.id%>"><%=recipe.title %></a>
<%end%>
