<h4>Logged in as <%=current_user.email%></h4>
<a href="/login">Not you?</a>
<form method="POST" action='/logout'>
<input type="submit" value="Log Out">
</form>
  
    <% @recipes.each do |recipe| %>
    
    <li><a href="/recipes/<%=recipe.id%>"><%=recipe.title %></li></a>
    <%end%>
   

