<h1><%=@recipe.title%></h1>

<h3> <%= @recipe.content%></h3>

<a href="/recipes"> Back to recipes</a>


<% if @recipe.user == current_user %>
<a href="/recipes/<%=@recipe.id%>/edit">Edit Recipe</a>
<a href="/recipes/<%=@recipe.id%>/delete">Delete</a>
<%end%>