<h1> Sign up new account</h1>

<form>
    
    <label for="email">E-mail:</label>
    <input type="text" name="email" id="SU_email">
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="SU_password">
    <br>
    <input type="submit" value="Signup">